﻿@{
    Layout = "~/Views/shared/_LeadLayout.cshtml";
    ViewBag.Title = "Page title";
}
@using JAG.DevTest2019.Host.Models
@model LeadViewModel

@section Meta{
    <meta name="description" content="Default site" />
    <meta name="keywords" content="Default" />
}

<section id="quote" class="main-banner row" style="background-image: url(/Content/Images/Banners/car-insurance.jpg)">
    <div class="slant-left col-md-9 pull-left">
        <div class="col-md-8 col-md-offset-2">
            <div class="capture-form">
                <h1 class="text-center">Insurance</h1>
                <h4>Don’t pay too much, find the best insurance quotes and start saving today!</h4>

                @*using (Html.BeginForm("SubmitLead", "Lead", FormMethod.Post, new { id = "frmsubmit" }))*@

                @using (Ajax.BeginForm("SubmitLead", "Lead", null, new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "FormOuter"
                }))
                {
                    @Html.AntiForgeryToken();
                    <div class="col-md-12">
                        <p>
                            <input type="hidden" value="@Model.TrackingCode" id="hdnTrackingCode" />

                            My name is
                            @Html.TextBoxFor(model => model.FirstName, new { @placeholder = Html.DisplayNameFor(model => model.FirstName) })
                            @Html.ValidationMessageFor(model => model.FirstName)

                            @Html.TextBoxFor(model => model.Surname, new { @placeholder = Html.DisplayNameFor(model => model.Surname) })
                            @Html.ValidationMessageFor(model => model.Surname)
                            You can contact me at
                            @Html.TextBoxFor(model => model.EmailAddress, new { @placeholder = Html.DisplayNameFor(model => model.EmailAddress) })
                            @Html.ValidationMessageFor(model => model.EmailAddress) or
                            @Html.TextBoxFor(model => model.ContactNumber, new { @placeholder = Html.DisplayNameFor(model => model.ContactNumber) })
                            @Html.ValidationMessageFor(model => model.ContactNumber)
                            to help me save on insurance
                            I am
                            @Html.DropDownListFor(model => model.Gender, Model.Genders, "Gender") and my language preference is
                            @Html.DropDownListFor(model => model.Language, Model.Languages, "Language")
                            and my blood type is @Html.DropDownListFor(model => model.Language, Model.BloodTypes, "BloodType")
                        </p>
                    </div>
                    <div class="clearfix"></div>


                    <div class="col-md-12 text-center">
                        <button type="submit" id="btnSubmit" class="orange-button">Get Quotes Now</button>
                    </div>
                }
                @if (Model.Results != null &&
                    Model.Results.IsSuccessful)
                {
                    <div class="col-md-12 text-center">
                        <img src="~/Content/Images/Products/new-success.png" height="24px" />
                        @Html.ValueFor(model => model.Results.Message)
                    </div>
                }
                else
                {
                    <div class="col-md-12 text-center">
                        <img src="~/Content/Images/Products/new-success.png" height="24px" />
                        @Html.ValueFor(model => model.Results.Message)
                    </div>
                }


                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>
<div class="clearfix"></div>
<div class="container benefits-padding text-center">
    <h2>Benefits</h2>
    <div class="benefits-cols row">
        <div class="col-md-3 text-center text-instructions">
            <img src="~/Content/Images/Products/new-save.png" />
            <p>People saved on insurance</p>
        </div>
        <div class="col-md-3 text-center text-instructions">
            <img src="~/Content/Images/Products/new-calling.png" />
            <p>99.99% were called in under 5 minutes</p>
        </div>
        <div class="col-md-3 text-center text-instructions">
            <img src="~/Content/Images/Products/new-success.png" />
            <p>96% believe these stats</p>
        </div>
        <div class="col-md-3 text-center text-instructions">
            <img src="~/Content/Images/Products/new-clients.png" />
            <p>Over <span id="served_value"> </span> queries serviced</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="quote" class="testimonial-banner" style="background-image: url('../../Content/Images/Banners/best-car-insurance.jpg');">
    <div class="slant-right col-md-9 pull-right">
        <div class="col-md-6 col-md-offset-3 testimonials text-center">
            <b>Getting the lowest insurance quote has never been so easy:</b>
            <p>
                <b>Joe Blogs (26 years)</b><br /><br />
                Telsa model x <br />
                Was paying R999,999.99<br />
                Now paying R99.99
            </p>
            <h2 class="highlight">Insurance saving of {lots of %}</h2>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="container-blue">
    <div class="col-md-6 col-md-offset-3 text-center">
        <h1>Get a quote and</h1>
        <h1 class="green">start saving now</h1>
        <p>Get in touch to receive insurance quotes from South Africa’s top insurance companies. Getting the lowest insurance premiums has never been so easy.</p>
        <a id="lnkGetQuote" href="#quote" class="orange-button">Get a quote now</a>
    </div>
    <div class="clearfix"></div>
</div>



@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#lnkLead').addClass('activeMenu');

            var servedValue = 6000000;
            $('#served_value').text(servedValue);

            setInterval(function () {
                var randomValue = Math.floor((Math.random() * 20) + 1);
                servedValue += randomValue;
                $('#served_value').text(servedValue);
            }, 3000);

        });
    </script>

    <script>

        var $form = $("#myform");
        var $submitbutton = $("#submitbutton");

        $form.on("blur", "input", () => {
            if ($form.valid()) {
                $submitbutton.removeAttr("disabled");
            } else {
                $submitbutton.attr("disabled", "disabled");
            }
        });


    </script>

    <Script type="text/javascript">
        $(document).click("orange-button")
    </Script>


    <script type="text/javascript">
        // call ASP.NET MVC Controller 
        function SerializeMappings() {
            var matches = [];

            $('[class^="mappings_"]:checked').each(function () {
                matches.push(this.value);
            });

            $.post("/Home/Validate", { listofmappings: matches }, function (data) {
                document.write(data);
            });
        }
    </script>
}